@{
    ViewData["Title"] = "PrivsXYZ";
}
<center>
    <h4>
        Czy jesteś pewny, że chcesz odszyfrować to zdjęcie?<br />Po odszyfrowaniu i wyświetleniu zdjęcia zostanie ono usunięte z bazy danych, a więc nie będzie możliwości ponownego jego obejrzenia.
    </h4>
    <br /><br />
          <h1><a href="http://@ViewBag.DecryptSure">TAK</a></h1>
</center>