@{
    ViewData["Title"] = "Prywatne wiadomosci";
}
<center>
    <h4>
        Czy jesteś pewny, że chcesz odszyfrować to zdjęcie?
    </h4>
    <br /><br />
    <a href="http://@ViewBag.DecryptSure">TAK</a>
</center>