@{
    ViewData["Title"] = "PrivsXYZ";
}
<center>
    <h4>
        Czy jesteś pewny, że chcesz odszyfrować ten plik?<br />Po odszyfrowaniu i pliku zostanie on usunięty z bazy danych, a więc nie będzie możliwości ponownego jego pobrania.
    </h4>
    <br /><br />
          <h1><a href="http://@ViewBag.DecryptSure">TAK, POBIERZ</a></h1>
</center>