@{
    ViewData["Title"] = "PrivsXYZ";
}
<center>
    <h4>Pamiętaj, że po zamknięciu tej karty przeglądarki nie będzie żadnej możliwości na odzyskanie poniższej wiadomości!</h4>
    Treść wiadomości:<br /><br />
<textarea readonly class="form-control"
          cols="80"
          id="Message"
          name="Message"
          rows="12">@ViewBag.DecryptedMessage</textarea>
</center>