@{
    ViewData["Title"] = "Twoje IP";
}

<div class="text-center">
    <h1 class="display-4">IPv4: @ViewBag.ipv4</h1><br /><br />
    <h1 class="display-4">IPv6: @ViewBag.ipv6</h1><br /><br />
    <h1 class="display-4">Hostname: @ViewBag.host</h1><br /><br />
</div>