@{
    ViewData["Title"] = "Prywatne wiadomosci";
}

<div class="text-center">
    <h1 class="display-4">Witaj na Privs.xyz!</h1>
    <center>
        <h4>Wybierz zdjęcie w formularzu poniżej. Następnie otrzymasz linka, którego będziesz mógł przekazać wybranej osobie. Pamiętaj, że dana osoba będzie mogła zobaczyć zdjęcie tylko 1 raz.<br /><br /><b>Max wielkość zdjęcia - 5 MB</b></h4>
        <br />
        Dodatkowo pamiętaj, że dane są szyfrowane (m. in.) na podstawie klucza wygenerowanego w linku - oznacza to, że nikt - nawet administracja serwisu nie jest i nigdy nie będzie w stanie zobaczyć Twojego zdjęcia!<br /><br />
    </center><br /><br />


    @using (Html.BeginForm("SendPhoto",
"Home",
FormMethod.Post,
new { enctype = "multipart/form-data" }))
    {
        <label for="file">Wybierz zdjęcie:</label><br />
        <input type="file" accept="image/*" name="file" id="file" /><br><br>
        <input type="submit" value="Zaszyfruj zdjęcie!" />
        <br><br>
    }
